<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>One Movies an Entertainment Category Flat Bootstrap Responsive Website Template | List :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="One Movies Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link th:href="@{/css/css2/bootstrap.css}" href="../static/css/css2/bootstrap.css" rel="stylesheet"  />
    <link th:href="@{/css/css2/style.css}" href="../static/css/css2/style.css" rel="stylesheet"  />
    <link rel="stylesheet" th:href="@{/css/css2/contactstyle.css}" href="../static/css/css2/contactstyle.css"  />
    <link rel="stylesheet" th:href="@{/css/css2/faqstyle.css}" href="../static/css/css2/faqstyle.css"  />
    <link th:href="@{/css/css2/single.css}" href="../static/css/css2/single.css" rel='stylesheet'  />
    <link th:href="@{/css/css2/medile.css}" href="../static/css/css2/medile.css"  rel='stylesheet'  />
    <!-- news-css -->
    <link rel="stylesheet" th:href="@{/css/news-css/news.css}" href="../static/css/news-css/news.css" type="text/css" media="all" />
    <!-- //news-css -->
    <!-- list-css -->
    <link rel="stylesheet" th:href="@{/css/list-css/list.css}" href="../static/css/list-css/list.css" type="text/css" media="all" />
    <!-- //list-css -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="../static/js2/jquery-2.1.4.min.js" th:src="@{js2/jquery-2.1.4.min.js}"></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="../static/js2/move-top.js" th:src="@{js2/move-top.js}"></script>
    <script type="text/javascript" src="../static/js2/easing.js" th:src="@{js2/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- tables -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/list-css/table-style.css}" href="../static/css/list-css/table-style.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/list-css/basictable.css}" href="../static/css/list-css/basictable.css" />
    <script type="text/javascript" src="../static/list-js/jquery.basictable.min.js" th:src="@{list-js/jquery.basictable.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint1').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint2').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint3').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint4').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint5').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint6').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint7').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint8').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint9').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint10').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint11').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint12').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint13').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint14').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint15').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint16').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint17').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint18').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint19').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint20').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint21').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint22').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint23').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint24').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint25').basictable({
                breakpoint: 768
            });
            $('#table-breakpoint26').basictable({
                breakpoint: 768
            });
        });
    </script>
    <!-- //tables -->
</head>

<body>
<!-- header -->
<div class="header">
    <div class="container">
        <div class="w3layouts_logo">
            <a href="pocetna.html"><h1>Dovla<span>Cinema</span></h1></a>
        </div>
        <div class="w3l_sign_in_register">
            <ul>
                <li><h4 th:text="${'   Dobar dan '+korisnik.ime+', br. poena: '+korisnik.brPoena}"></h4></li>
                <li><a th:href="@{/logout}">Odjavi se</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //header -->
<!-- nav -->
<div class="movies_nav">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/korisnik/pocetna}">Pocetna</a></li>
                        <li><a th:href="@{/korisnik/filmovi}">Svi filmovi</a></li>
                        <li><a th:href="@{/korisnik/repertoar-pretraga}">Repertoar</a></li>
                        <li><a th:href="@{/korisnik/klubovi}">Uclani se u klub</a></li>
                        <li><a th:href="@{/korisnik/klubovi/clan}">Moji klubovi</a></li>
                        <li><a th:href="@{/korisnik/paketi-hrane}">Paketi hrane</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>
<!-- //nav -->
<div class="general_social_icons">
    <nav class="social">
        <ul>
            <li class="w3_twitter"><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
            <li class="w3_facebook"><a href="#">Facebook <i class="fa fa-facebook"></i></a></li>
            <li class="w3_g_plus"><a href="#">Google+ <i class="fa fa-google-plus"></i></a></li>
        </ul>
    </nav>
</div>
<!-- faq-banner -->
<div class="faq">
    <h4 class="latest-text w3_faq_latest_text w3_latest_text">Lista projekcija</h4>
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a th:href="@{/korisnik/pocetna}">Pocetna</a></li>
                <li class="active">Lista projekcija</li>
            </ol>
        </div>
        <h3><a th:text="${greska}" style="color:red;"></a></h3><br><br>
        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                    <div class="agile-news-table">
                        <table id="table-breakpoint">
                            <thead>
                            <tr>
                                <th>Film</th>
                                <th>Bioskop</th>
                                <th>Sala</th>
                                <th>Datum</th>
                                <th>Vreme</th>
                                <th>Cena</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="projekcija : ${projekcije}">
                                <td th:text="${projekcija.getFilmNaziv()}"></td>
                                <td th:text="${projekcija.getBioskopNaziv()}"></td>
                                <td th:text="${projekcija.getSalaNaziv()}"></td>
                                <td th:text="${projekcija.datum}"></td>
                                <td th:text="${projekcija.vreme}"></td>
                                <td th:text="${projekcija.cena}"></td>
                                <td>
                                    <form th:action="@{${'/korisnik/rezervacija/' + projekcija.projekcijaID}}" method="post">
                                        <button class="sign__btn" style="width:130px; height:40px; position: relative;" type="submit">Rezervisi</button>
                                    </form>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Pretplatite se</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Vas email..." required="">
                            <input type="submit" value="Posalji">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="pocetna.html"><h2>Dovla<span>Cinema</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>&copy; 2020 Dovla Cinema.</p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a href="#">Svi filmovi</a>
                </li>
                <li>
                    <a href="#">Bioskopi</a>
                </li>
                <li>
                    <a href="#">Repertoar</a>
                </li>
                <li>
                    <a href="#">Uclani se u klub</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="../static/js2/bootstrap.min.js" th:src="@{js2/bootstrap.min.js}"></script>
<script>
    $(document).ready(function(){
        $(".dropdown").hover(
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
</body>
</html>